/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	cursor: url('pointer.svg'), auto;
    background-image: url('welcome.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ~ highlight ~ */

::-moz-selection { /* Code for Firefox */
    color: #d1d2d3;
    background: #FFFFFF;
}

::selection {
    color: #d1d2d3;
    background: #FFFFFF;
}

/* ~ font ~ */

@font-face {
    font-family: 'H_Web';
    src: url('Font/Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

p {
	font-family: 'H_Web', sans-serif;
	font-weight: lighter;
	font-size: 0.9rem;
	line-height: 1.5;
    text-align: center;
    color: #FFFFFF;
}

span {
	font-family: 'H_Web', sans-serif;
	font-weight: lighter;
	font-size: 1rem;
	line-height: 1.5;
}

a {text-decoration: none;
	color: #d1d2d3;
}

a:hover {color: red;cursor: url('pointerHover.svg'), auto;}

/* ~ body of work ~ */

#entrance {
    position: absolute;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 400px;
    height:400px;
}

img {
    display: block;
	max-width: 100%;
}
